{% extends "layout.html" %}

{% block content %}

  <div class="page-header">
    <h1>Welcome to Twitter.js, Nimit!</h1>
  </div>
  <div class="row">
    <div class="col-md-3">
      <img src="https://pbs.twimg.com/profile_images/2450268678/olxp11gnt09no2y2wpsh_normal.jpeg"><br>
      <b>Your Name</b><br>
      100 followers
    </div>
    <div class="col-md-9">

      {% if showForm %}
        <form action="/submit" method="POST">
          <label for="name_field">Name:</label>
          <input name="shenanigans" type="text" id="name_field" value="{{theName}}"/>

          <label for="text_field">Text:</label>
          <input name="text" type="text" id="text_field" style="width: 350px;" />

          <input type="submit" value="Submit" />
        </form>
      {% endif %}

      <!-- display tweets here -->
      {% for tweet in tweets %}
        <div id="tweetbox">
          <div class={{tweet.id}}>
          <img src="{{picture||tweet.User.dataValues.pictureUrl}}" height=70px class='{{tweet.id}}'/>
          <span class="content">
            <a href="/users/{{theName || tweet.User.dataValues.name}}">{{ theName || tweet.User.dataValues.name}}</a>
            <a href="/users/{{theName || tweet.User.dataValues.name}}/tweets/{{tweet.id}}">{{tweet.tweet}}</a>
            <!-- {% if showDelete %}<form action="/delete" method="DELETE"><button><span class='glyphicon glyphicon-remove'></span></button></form> {% endif %} -->
            <button class='remove-button' id={{tweet.id}}>Delete</button></form>
          </div>
        </div>
      {% endfor %}

    </div>
  </div>

{% endblock %}
